# Bun
**/bun.lockb

# Dependencies.
**/node_modules/

# Environment variables
.env
!.env.example

# moon
.moon/cache/
.moon/docker/
.moon/hooks/

# Virtual environment.
.venv

# OS
.DS_Store

# Python.
__pycache__/

# Data.
data/

# Next.js build output.
**/.next/

# Logging.
*.log

# Production artifacts
**/build/
**/dist/

# TypeScript
**/*.tsbuildinfo
**/next-env.d.ts

# WandB.
**/wandb/
